html, body, #root, .App, .page {
  font-family: Raleway;
  background-color: #202125;
  height: 100%;

  line-height: 160%;
  position: relative;
}

.topnav {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  height: 100%;
  transition: height 1s;
}

.goup {
  height: 100px;
}

.topnav .search-container {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.topnav .search-container input[type=text] {

  height: 50px;
  font-size: 17px;
  border: none;
}

.topnav .search-container .searchbutton {
  width: 80px;
  height: 50px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container .searchbutton:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {

  .topnav .search-container
  {
    width:100%
  }
}


.gallery-image {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-image img {
  height: 250px;
  width: 350px;
  transform: scale(1.0);
  transition: transform 0.4s ease;
}

.img-box {
  box-sizing: content-box;
  margin: 10px;
  height: 250px;
  width: 350px;
  overflow: hidden;
  display: inline-block;
  color: white;
  position: relative;
  background-color: white;
}

.caption {
  position: absolute;
  bottom: 5px;
  left: 20px;
  opacity: 0.0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.transparent-box {
  height: 250px;
  width: 350px;
  background-color:rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.3s ease;
}

.img-box:hover img {
  transform: scale(1.1);
}

.img-box:hover .transparent-box {
  background-color:rgba(0, 0, 0, 0.5);
}

.img-box:hover .caption {
  transform: translateY(-20px);
  opacity: 1.0;
}

.img-box:hover {
  cursor: pointer;
}

.caption > p:nth-child(2) {
  font-size: 0.8em;
}

.opacity-low {
  opacity: 0.5;
}

.heart-like-button {
  position: relative;
  width: 32px;
  height: 26px;
}
.heart-like-button:before {
  position: absolute;
  top: 0;
  left: 16px;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
  width: 16px;
  height: 25px;
  border-radius: 40px 40px 0 0;
  background-color: #574136;
  content: "";
  cursor: pointer;
  transition: background .4s;
}
.heart-like-button:after {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(45deg);
  transform-origin :100% 100%;
  width: 16px;
  height: 25px;
  border-radius: 40px 40px 0 0;
  background-color: #574136;
  content: "";
  cursor: pointer;
  transition: background .4s;
}
.heart-like-button.liked::before,
.heart-like-button.liked::after {
  background-color: #d65076;
}
.heart-like-button.liked {
  animation: liked .4s ease;
}
@keyframes liked {
  0% {
    transform: scale(.8);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}